    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header" style="padding:10px">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i style="font-size:42px;margin-top:-10px"class="fa fa-android"></i></a>
          <a class="navbar-brand" href="#"></i>AndroidSchool</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="padding:10px">
            <li>
               <a href="#fakelink" class="btn btn-lg">More Free Ebooks</a>  
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


